button {
    justify-content: center;
    height: 100px;
    width: 200px;
    display: flex;
    margin: auto;
}

#mainDiv, #resultsDiv, .timer {
    display: none;
    text-align: center;
}

/*#resultsDiv {
    display: none;
}*/

h1, p {
    text-align: center;
}

/*it would be cool to create an animated cursor pointer*/
li:hover, #restart:hover {
    cursor: help;
    background-image: url(../images/estrellas.gif); 
    color: white;
    
}

li {
    /*this attribute with value of 'none' remove the bullent point form li tags. How awesome! */
    list-style-type: none;
}