button {
    justify-content: center;
    height: 100px;
    width: 200px;
    display: flex;
    margin: auto;
}

.emptyDiv {
    width: 80%;
    height: 80%;
    border: 3px solid #73AD21;
    background-image: url(../images/box2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    position:absolute;
    left:0; 
    right:0;
    top:0; 
    bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;
   
}

#mainDiv, #resultsDiv, .timer, .correctAlert, .incorrectAlert, .winMssg, .mssg {
    display: none;
    text-align: center;
}

/*#resultsDiv {
    display: none;
}*/

h1, p, .imgDiv, .imgDivIncorrect {
    text-align: center;
}

/*it would be cool to create an animated cursor pointer*/
li:hover, #restart:hover {
    cursor: help;
    background-image: url(../images/estrellas.gif); 
    color: white;
    
}

li, .timer, .winMssg, .mssg, #resultsDiv {
    /*this attribute with value of 'none' remove the bullent point form li tags. How awesome! */
    list-style-type: none;
    font-family: 'Merienda One', cursive;
    font-size: 25px;
}

body {
    background-image: url(../images/button1.gif);
}

img {
    justify-content: center;
}

h1 {
    font-family: 'Faster One', cursive;
    font-size: 70px;
    color: #063a78;
}
 
h2 {
    font-family: 'Shojumaru', cursive;
    font-size: 40px;
    color: #6d2247;
}

