button.buttonToBeReplaced {
    justify-content: center;
    height: 200px;
    width: 450px;
    display: flex;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-family: 'Shojumaru', cursive;
    font-size: 30px;
    border-radius: 20px;
    background-image: url(../images/testB6.gif); 
    color: white;
    overflow: auto;
    text-shadow: 8px 8px #063a78;
}

button#musicOn, button#musicOff {
    background-image: url(../images/testB6.gif); 
    font-family: 'Shojumaru', cursive;
    justify-content: center;
    text-shadow: 8px 8px #063a78;
    width: 168px;
    height: 35px;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    display: flex;  
}

.emptyDiv {
    width: 80%;
    height: 80%;
    border: 6px solid #73AD21;
    padding: 10px;
    box-shadow: 16px 18px black;
    background-image: url(../images/box2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left:0; 
    right:0;
    top:0; 
    bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;  
}

#mainDiv, #resultsDiv, .timer, .correctAlert, .incorrectAlert, .winMssg, .mssg, .unansweredMssg {
    display: none;
    text-align: center;    
}

h1, p, .imgDiv, .imgDivIncorrect {
    text-align: center;
    padding: 5px;
}

/*it would be cool to create an animated cursor pointer*/
li:hover, #restart:hover {
    cursor: help;
    background-image: url(../images/testB6.gif); 
    color: white;
    
}

li, .timer, .winMssg, .mssg, #resultsDiv, .unansweredMssg {
    /*this attribute with value of 'none' remove the bullent point form li tags. How awesome! */
    list-style-type: none;
    font-family: 'Shojumaru', cursive;
    font-size: 26px;
    text-shadow: 3px 3px #73AD21;
    color: #6d2247;
    padding: 13px;  
}

body {
    background-image: url(../images/button1.gif);
    opacity: 0.8;
}

img {
    justify-content: center;
}

h1 {
    font-family: 'Faster One', cursive;
    font-size: 70px;
    color: #063a78;
    text-shadow: 3px 3px rgb(146, 204, 65);
}
 
h2 {
    font-family: 'Merienda One', cursive;
    font-size: 28px;
    color: #a40063;
    text-shadow: 3px 3px #73AD21;
    
    
}

/****************MEDIA QUERIES******************/
/** tablet screen size **/
@media screen and (max-width: 768px) {
    li, .timer, .winMssg, .mssg, #resultsDiv {
        font-size: 21px;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 24px;
         color: black;
    }
    .emptyDiv {
        width: auto;
    }
    button.buttonToBeReplaced {
        height: 150px;
        width: 400px;
        font-size: 25px;
    }
    button#musicOn, button#musicOff {
        width: 155px;
        font-size: 17px;
        border-radius: 20px;
    }
}

/** phone in landscape screen size **/
@media screen and (max-width: 640px) {
    li, .timer, .winMssg, .mssg, #resultsDiv {
        font-size: 18px;
    }
    h1 {
        font-size: 45px;
        
    }
    h2 {
        font-size: 20px;
        color: black;
    }
    .emptyDiv {
        width: auto;
    
    }
    button.buttonToBeReplaced {
        height: 150px;
        width: 250px;
        font-size: 20px;
    }
    button#musicOn, button#musicOff {
        width: 150px;
        height: 30px;
        font-size: 16px;
        border-radius: 20px;
    }
}


  